:root {
	// base
	--font-family: Arial, Helvetica;
	--content-width: 1440px;
	--container-offset: 50px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--light-color: #fff;
}
